<ion-view>
	
  <ion-content class="has-header">
  	
  	<ion-slide-box>
  		<ion-slide><img class="slide" src="img/home/slides/1.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/2.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/3.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/4.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/5.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/6.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/7.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/8.jpg"></ion-slide>
  		<ion-slide><img class="slide" src="img/home/slides/9.jpg"></ion-slide>
  	</ion-slide-box>
  	
  	<ul class="horizontal">
  		<li><a href="/#/store/women" class="women">Women</a></li>
  		<li><a href="/#/store/men" class="men">Men</a></li>
  		<li><a href="/#/store/kids" class="kids">Kids</a></li>
  		<li><a href="/#/store/baby" class="baby">Baby</a></li>
  	</ul>
  	
  	<section>
			<ul class="horizontal">
				<li>
					<div class="list">
						<a class="item item-icon-right tame" href="#">今週の新作 <i class="icon ion-chevron-right"></i></a>
						<a class="item item-icon-right tame" href="#">まとめ買い <i class="icon ion-chevron-right"></i></a>
						<a class="item item-icon-right tame" href="#">値下げ商品 <i class="icon ion-chevron-right"></i></a>
					</div>
				</li>
				<li>
					<div class="list">
						<a class="item item-icon-right tame" href="#">期間限定商品 <i class="icon ion-chevron-right"></i></a>
						<a class="item item-icon-right tame" href="#">モバイル限定 <i class="icon ion-chevron-right"></i></a>
						<a class="item item-icon-right tame" href="#">デジタルチラシ <i class="icon ion-chevron-right"></i></a>
					</div>
				</li>
			</ul>
  	</section>
  	
  	<section>
			<ul class="list">
				<li class="item item-icon-left item-icon-right">
					<i class="icon ion-tshirt-outline brand"></i>
					<h2>大きいサイズ</h2>
					<p class="sub">お客様の声にお応えして、サイズの種類が増えました</p>
					<i class="icon ion-chevron-right tame"></i>
				</li>
				<li class="item item-icon-left item-icon-right">
					<i class="icon ion-monitor brand"></i>
					<h2>大型店特別商品</h2>
					<p class="sub">大型店だけの商品がオンラインストアで購入できる</p>
					<i class="icon ion-chevron-right tame"></i>
				</li>
				<li class="item item-icon-left item-icon-right">
					<i class="icon ion-ios-photos-outline brand"></i>
					<h2>スタイルディクショナリ</h2>
					<p class="sub">ユニクロの最新スタイリングから選べる</p>
					<i class="icon ion-chevron-right tame"></i>
				</li>
			</ul>
  	</section>
  	
  	
		<div class="tabs tabs-inline">
			<a ng-repeat="tab in tabs" class="tab-item" ng-class="{ active: currentTab.name === tab.name }" ng-click="goToTab({{$index}})">{{tab.name}}</a>
		</div>
		
		<ion-slide-box delegate-handle="springSlider" ng-repeat="tab in tabs" ng-if="currentTab.name === tab.name" class="stripped" on-slide-changed="goToSlide($index, tab)" show-pager="false" does-continue="true">
			<ion-slide ng-repeat="slide in tab.slides" class="cl">
				<div class="row stripped cl">
					<div class="col stripped cl"><img class="slide-left" style="width:{{slideWidth}}px;left:{{offset}}px;" src="{{slide.prev}}"></div>
					<div class="col-67 stripped current-slide"><img class="slide" src="{{slide.src}}"></div>
					<div class="col stripped cl"><img style="width:{{slideWidth}}px;" src="{{slide.next}}"></div>
				</div>
			</ion-slide>
		</ion-slide-box>
		
		<section></section>
		
		<div class="item dull">
			<h2>春の新作</h2>
			<p>冬の着こなしに、春らしいカラーをプラス</p>
		</div>
		
		<!--
		<div class="row stripped">
			<div class="col stripped slider-side">
				<img src="img/home/spring/1.jpg">
			</div>
			<div class="col-67 stripped">
				<ion-slide-box class="slider-narrow" on-slide-changed="goToSpringSlide($index)" show-pager="false" does-continue="true">
					<ion-slide ng-repeat="slide in springSlides"><img class="slide" src="{{slide.src}}"></ion-slide>
				</ion-slide-box>
			</div>
			<div class="col stripped">
				<img src="img/home/spring/1.jpg">
			</div>
		</div>
		-->
		
		<div style="position:relative;">
			<ion-slide-box class="stripped" on-slide-changed="goToSpringSlide($index)" show-pager="false" does-continue="true">
				<ion-slide ng-repeat="slide in springSlides" class="cl">
					<div class="row stripped cl">
						<div class="col stripped cl"><img class="slide-left" style="width:{{slideWidth}}px;left:{{offset}}px;" src="{{slide.prev}}"></div>
						<div class="col-67 stripped current-slide"><img class="slide" src="{{slide.src}}"></div>
						<div class="col stripped cl"><img style="width:{{slideWidth}}px;" src="{{slide.next}}"></div>
					</div>
				</ion-slide>
			</ion-slide-box>
			<a class="slide-button" ng-click="prev()"><i class="icon ion-chevron-left"></i></a>
			<a class="slide-button right" ng-click="next()"><i class="icon ion-chevron-right"></i></a>
		</div>
		<section></section>
  	
  	<div ng-include="'templates/menu.html'"></div>
  </ion-content>
</ion-view>
