<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content>
      <div class="list stripped">
        
        <a href="#/fr/l2" nav-clear menu-close class="item red uni">Women</a>
        <a href="" class="item blue uni">Men</a>
        <a href="" class="item cyan uni">Kids</a>
        <a href="" class="item green uni">Baby</a>
        
        <a class="item item-icon-left"><i class="icon ion-key brand"></i>ログイン</a>
        <a class="item item-icon-left"><i class="icon ion-android-settings brand"></i>ご利用状況</a>
        <a class="item item-icon-left"><i class="icon ion-person brand"></i>会員登録・解除</a>
        <a class="item item-icon-left"><i class="icon ion-location brand"></i>店舗検索</a>
        <a class="item item-icon-left"><i class="icon ion-information-circled brand"></i>ご利用ガイド</a>
        <a class="item item-icon-left"><i class="icon ion-monitor brand"></i>PCサイト</a>
        <a class="item item-icon-left"><i class="icon ion-arrow-right-a brand"></i>ジーユーオンラインストア</a>
        
        <div class="item text-center copyright">Copyright (C) Uniqlo Co. LTD. All Rights Reserved.</div>
        
        <div class="item stripped">
        	<ul class="horizontal social">
        		<li style="background-color:#3b5998;"><i class="icon ion-social-facebook"></i></li>
        		<li style="background-color:#00aced;"><i class="icon ion-social-twitter"></i></li>
        		<li style="background-color:#dd4b39;"><i class="icon ion-social-googleplus"></i></li>
        		<li style="background-color:#cb2027;"><i class="icon ion-social-pinterest"></i></li>
        		<li style="background-color:#bb0000;"><i class="icon ion-social-youtube"></i></li>
        	</ul>
        </div>
        
        <!--
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
        -->
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
