<ion-nav-buttons side="left">
	<a href="/#/fr/l1"><img class="title-image" src="img/logo.gif" /></a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<button class="button button-icon icon ion-heart"><div class="button-label">お気に入り</div></button>
	<button class="button button-icon icon ion-android-cart"><div class="button-label">カート</div></button>
	<button class="button button-icon icon ion-search"><div class="button-label">商品検索</div></button>
	<button menu-toggle="right" class="button button-icon icon ion-navicon-round"><div class="button-label">メニュー</div></button>
</ion-nav-buttons>